body {
    height: 100vh;
    background: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.start {
    height: fit-content;
    padding: 10px 20px;
    background: black;
    color: white;
    border: 0;
    border-radius: 4px;
    transition: all 0.5s linear;
}

.start:hover {
    background: white;
    color: black;
}

.background-black {
    background: url(mole.jpg);
    background-size: cover;
    transition: all 0.5 ease;
}